# Python Full Stack Day 1

In [9]:
print("Hello, World!")

Hello, World!

## Classes & Objects

- **Class:** A class is a template that defines the variables and methods for a specific type of object.

- **Object:** An object can be defined as a data field that has unique attributes and behavior.

- **Note:** To access member functions through object we need `self` as the default parameter

In [10]:
class student: #class
    college = 'SRGEC' #class member
    branch = 'AI&DS'
    
    def info(self, id, name, phone, city): #member function
        print("---------------------")
        print(f"Roll : {id} | {student.branch}")
        print(f"Name : {name} | {student.college}")
        print(f"Phone: {phone}")
        print(f"City : {city}")
        print("---------------------")

r1 = student() #object1
r1.info(51, 'Rohit', 9494214912, 'Eluru')

r2 = student() #object2
r2.info(15, 'Rushi', 9494064572, 'H.Junction')

---------------------
Roll : 51 | AI&DS
Name : Rohit | SRGEC
Phone: 9494214912
City : Eluru
---------------------
---------------------
Roll : 15 | AI&DS
Name : Rushi | SRGEC
Phone: 9494064572
City : H.Junction
---------------------

#### Coding Practice

In [11]:
class car:
    def info(self, name, color, price, brand):
        print("---------------")
        print(f"Brand: {brand}")
        print(f"Name : {name}")
        print(f"Color: {color}")
        print(f"Price: {price}")
        print("---------------")

a = car()
a.info('Innova Crysta', 'White', '$30,000', 'Toyota')

b = car()
b.info('Swift Dzire', 'Silver', '$12,000', 'Suzuki')

c = car()
c.info('Harrier', 'White', '$27,000', 'Tata')

d = car()
d.info('GLS 200d', 'Black', '$90,000', 'Mercedes Benz')

e = car()
e.info('Hector Plus', 'Red', '$27,000', 'Morris Garages')

---------------
Brand: Toyota
Name : Innova Crysta
Color: White
Price: $30,000
---------------
---------------
Brand: Suzuki
Name : Swift Dzire
Color: Silver
Price: $12,000
---------------
---------------
Brand: Tata
Name : Harrier
Color: White
Price: $27,000
---------------
---------------
Brand: Mercedes Benz
Name : GLS 200d
Color: Black
Price: $90,000
---------------
---------------
Brand: Morris Garages
Name : Hector Plus
Color: Red
Price: $27,000
---------------

## Constructor

- A constructor is a special initialization function that is automatically called whenever an object is created.

- Initialization of constructor `__init__()`

- **Two types is constructor:**
    - default constructor
    - parameterized constructor

In [12]:
class book():
    def __init__(self): #default constructor
        print("constructor calling")
    
    def normal(self):
        print("method calling")

a = book()
a.normal()
b = book()

constructor calling
method calling
constructor calling

#### Coding Practice 1

In [13]:
class book():
    def __init__(self, id, name, price, author): #paramaterized constructor
        self.id = id
        self.name = name
        self.price = price
        self.author = author

    def display(self):
        print("------------------------------------")
        print(f"Id    : {self.id}")
        print(f"Name  : {self.name}")
        print(f"Price : {self.price}")
        print(f"Author: {self.author}")
        print("------------------------------------")

b1 = book(1, 'The Girl in Room 105', '$2.19', 'Chetan Bhagat')
b1.display()

b2 = book(2, 'Power of Subconcious Mind', '$1.69', 'Paul Joseph')
b2.display()

b3 = book(3, 'One Night @ Call Center', '$1.99', 'Chetan Bhagat')
b3.display()

b4 = book(4, 'Vennello Aadapilla', '$0.99', 'Yandamoori Veerendranadh')
b4.display()

b5 = book(5, 'Idly, Orchid and Will Power', '$3.69', 'Vital Kamath')
b5.display()

------------------------------------
Id    : 1
Name  : The Girl in Room 105
Price : $2.19
Author: Chetan Bhagat
------------------------------------
------------------------------------
Id    : 2
Name  : Power of Subconcious Mind
Price : $1.69
Author: Paul Joseph
------------------------------------
------------------------------------
Id    : 3
Name  : One Night @ Call Center
Price : $1.99
Author: Chetan Bhagat
------------------------------------
------------------------------------
Id    : 4
Name  : Vennello Aadapilla
Price : $0.99
Author: Yandamoori Veerendranadh
------------------------------------
------------------------------------
Id    : 5
Name  : Idly, Orchid and Will Power
Price : $3.69
Author: Vital Kamath
------------------------------------

#### Coding Practice 2

In [14]:
class employee():
    def __init__(self, id, name, salary, job): #paramaterized constructor
        self.id = id
        self.name = name
        self.salary = salary
        self.job = job

    def display(self):
        print("--------------------------")
        print(f"Id    : {self.id}")
        print(f"Name  : {self.name}")
        print(f"Salary: {self.salary}")
        print(f"Job   : {self.job}")
        print("--------------------------")

r1 = employee(1, 'Rohit', '$51,000', 'SDE')
r1.display()

s = employee(2, 'Sowmya', '$45,000', 'Full Stack Developer')
s.display()

j = employee(3, 'Jaswanth', '$57,000', 'Data Scientist')
j.display()

r2 = employee(4, 'Rushi', '$300,000', 'Business Analyst')
r2.display()

k = employee(5, 'Kavya', '$22,000', 'Data Engineer')
k.display()

g = employee(6, 'Goutham', '$51,000', 'SDE')
g.display()

t = employee(7, 'Tapaswi', '$22,000', 'Data Engineer')
t.display()

sh = employee(8, 'Shagun', '$100,000', 'Graphic Designer')
sh.display()

p = employee(9, 'Pramod', '$69,000', 'Social Media Analyst')
p.display()

c = employee(10, 'Caroline', '$70,000', 'Server Engineer')
c.display()

--------------------------
Id    : 1
Name  : Rohit
Salary: $51,000
Job   : SDE
--------------------------
--------------------------
Id    : 2
Name  : Sowmya
Salary: $45,000
Job   : Full Stack Developer
--------------------------
--------------------------
Id    : 3
Name  : Jaswanth
Salary: $57,000
Job   : Data Scientist
--------------------------
--------------------------
Id    : 4
Name  : Rushi
Salary: $300,000
Job   : Business Analyst
--------------------------
--------------------------
Id    : 5
Name  : Kavya
Salary: $22,000
Job   : Data Engineer
--------------------------
--------------------------
Id    : 6
Name  : Goutham
Salary: $51,000
Job   : SDE
--------------------------
--------------------------
Id    : 7
Name  : Tapaswi
Salary: $22,000
Job   : Data Engineer
--------------------------
--------------------------
Id    : 8
Name  : Shagun
Salary: $100,000
Job   : Graphic Designer
--------------------------
--------------------------
Id    : 9
Name  : Pramod
Salary: $69,000
Job   : Social Media Analyst
--------------------------
--------------------------
Id    : 10
Name  : Caroline
Salary: $70,000
Job   : Server Engineer
--------------------------

## Random series

    7, 15, 24, 34, 45, 57...

In [15]:
sum = 0
for i in range(7,15):
    sum+=i
    print(sum)

7
15
24
34
45
57
70
84

*range(7,15) - here 7 is initial value, 15 is last step value*

## Even index element

In [16]:
a = [11, 22, 99, 78, 59, 44, 45, 88, 89, 56, 33]

for i in (a[::2]):
    print(i)

11
99
59
45
89
33